<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout view</title>
</head>

<body>
  <% include('../partials/header') %>
    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>
  <% include('../partials/footer') %>
</body>

</html>